{% load static %}

<div class="page-section restaurant-detail-image-section" style=" background: url({% if vendor.user_profile.cover_photo %}{{vendor.user_profile.cover_photo.url}} {% else %} {% static 'extra-images/pizza-600x600.jpg' %} {% endif %}) no-repeat scroll 0 0 / cover; height: 45vh">
    <!-- Container Start -->
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <!-- Column Start -->
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="display: flex; align-items: center; height: 25vh;">
                <div class="company-info-detail" style="display: flex; align-items: center">
                    <div class="company-info" style="display: flex; align-items: center">
                        <div class="img-holder" style="height: 100px; width: 100px">
                            <figure>
                                {% if vendor.user_profile.profile_picture %}
                                
                                <img src="{{vendor.user_profile.profile_picture.url}}" height="100" width="100" alt="">

                                {% else %}
                                <img src="{% static 'extra-images/menu-1-1.png' %}" height="100" width="100" alt="">
                                {% endif %}
                            </figure>
                        </div>

                        <div class="text-holder">
                            <span class="restaurant-title">{{vendor.vendor_name}}</span>
                            <div class="text">
                                
                                <i class="icon-location"></i>
                                <p>
                                    {% if vendor.user_profile.address %}
                                    {{vendor.user_profile.address}},
                                
                                    {% endif %}
                                    {% if not vendor.user_profile.address and vendor.user_profile.country %}
                                    {{vendor.user_profile.country}},
                                    {% endif %}
    
                                    {% if vendor.user_profile.city %}
                                    {{vendor.user_profile.city}},
                                    {% endif %}

                                    {% if vendor.user_profile.pin_code %}
                                    {{vendor.user_profile.pin_code}}
                                    {% endif %}
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Column End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</div>