<!-- Footer Start -->
<footer id="footer" class="footer-style-2" style="padding-top: 40px" >
    <div class="container">
        <div class="row" style=" display: flex; flex-direction: column; align-items: center; margin: 0">
            <div class="widget widget-newsletter" style="max-width: 500px; width: 100%">
                <div class="widget-title">
                    <h5 style="text-align: center">Subscribe to our Newsletter</h5>
                </div>
                <form action="#" style="display: flex">
                    <div class="field-holder" style="width: 100%">
                        <label>
                            <i class="icon-envelope3"></i>
                            <input
                                type="text"
                                class="field-input"
                                placeholder=" Enter Your Email Address..."
                                style="width: 100%"
                            />
                        </label>
                    </div>
                    <div class="field-holder btn-holder" style="width: auto">
                        <button type="submit" style="padding: 0 25px" class="subscribe-btn bgcolor">Send</button>
                    </div>
                </form>
            </div>
            <div class="copyright-inner">
                <div class="copy-right">
                    <p>
                        © {% now "Y" %} FoodOnline. All Rights Reserved. Developed By
                        <a href="https://github.com/Dedrik2021">Oleg Grunski</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->