<!-- Footer Start -->
<footer id="footer" class="footer-style-2" style="padding-top: 40px" >
    <div class="container">
        <div class="row" style=" display: flex; flex-direction: column; align-items: center">
            <div class="">
                <div class="widget widget-newsletter">
                    <div class="widget-title">
                        <h5 style="text-align: center">Subscribe to our Newsletter</h5>
                    </div>
                    <div class="fieldset">
                        <form action="#" style="display: flex; justify-content: center">
                            <div class="field-holder" style="width: auto">
                                <label>
                                    <i class="icon-envelope3"></i>
                                    <input
                                        type="text"
                                        class="field-input"
                                        placeholder=" Enter Your Email Address..."
                                        style="width: 400px"
                                    />
                                </label>
                            </div>
                            <div class="field-holder btn-holder" style="width: auto">
                                <input
                                    class="subscribe-btn bgcolor"
                                    type="submit"
                                    value="Sign Up"
                                    style="width: 100px"
                                />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="">
                    <div class="copyright-inner">
                        <div class="copy-right">
                            <p>
                                © {% now "Y" %} Foodbakery. All Rights Reserved. Developed By
                                <a href="https://github.com/Dedrik2021">Oleg Grunski</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->