{% extends 'base.html' %} {% load static %} {% block content %}

<!-- Main Section Start -->
<div class="main-section">
	<!-- Home Pages Elements Strat -->
	<!-- Main Search Start -->
	<div
		class="page-section nopadding cs-nomargin main-search-bar"
		style="
				{% comment %} padding-top: 200px;
				padding-bottom: 150px; {% endcomment %}
				display: flex; flex-direction: column; justify-content: center;
				margin-bottom: 0px;
				height: calc(85vh - 76px);
				background: url( {% static 'extra-images/bg-image1.jpg' %} ) no-repeat center / cover;
			"
	>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title">
						<h1
							style="
								font-size: 40px;
								color: #505050;
								text-transform: uppercase;
								line-height: 50px;
								margin-bottom: 25px;
								text-align: center;
							"
						>
							We are in the business of food<br />our restaurants do
						</h1>
						<p
							style="
								font-size: 18px;
								letter-spacing: 1px;
								color: #505050;
								text-align: center;
							"
						>
							Ridiculus sociosqu cursus neque cursus curae ante scelerisque vehicula.
						</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="main-search fancy bg-holder">
						<form action="{% url 'search' %}" method="GET">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-sm-3 col-xs-12">
									<div class="field-holder">
										<input
											type="text"
											placeholder="Resturant name or food name"
											name="keyword"
											style="width: 100%"
										/>
									</div>
								</div>
								<div class="col-lg-4 col-md-4 col-sm-5 col-xs-12">
									<div class="field-holder">
										<ul style="width: 100%; padding: 0">
											<li class="select-location">
												<div
													class="foodbakery-locations-fields-group foodbakery-focus-out"
												>
													<span class="foodbakery-search-location-icon"
														><i class="icon-location"></i
													></span>
													<input
														type="text"
														class=""
														placeholder="All Locations"
														style="width: 100%; text-transform: lowerCase"
														id="id_address"
														name="address"
														required
													/> 
													<input type="hidden" name="lat" value="" id="id_latitude">
													<input type="hidden" name="lng" value="" id="id_longitude">
												</div>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-2 col-md-3 col-sm-2 col-xs-12" >
									<select name="radius" id="radius" style="height: 50px; width: 100%" required>
										<option value="" selected>Choice radius</option>
										<option value="5" >5km</option>
										<option value="10" >10km</option>
										<option value="15" >15km</option>
										<option value="20" >20km</option>
										<option value="25" >25km</option>
										<option value="50" >50km</option>
										<option value="75" >75km</option>
									</select>
								</div>

								<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
									<div class="field-holder">
										<input type="submit" value="Search" style="width: 100%" />
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Main Search End -->

	<!-- Top Restarurants Section Start -->
	<div
		class="page-section nopadding cs-nomargin"
		style="
			margin-top: 0px;
			padding-top: 60px;
			padding-bottom: 0px;
			margin-bottom: 0px;
			background: #ffffff;
		"
	>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="element-title align-left">
						<h2>Top Restaurants</h2>
						<p>Explore restaurants, bars, and cafés by locality</p>
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 0">
					<div class="company-logo">
						<ul style="list-style: none">
							{% for vendor in vendors %}
							<li class="has-border">
								<figure>
									<a href="{% url 'vendor_detail' vendor.vendor_slug %}">
										{% if vendor.user_profile.profile_picture %}
										<img
											src="{{vendor.user_profile.profile_picture.url}}"
											class="attachment-full size-full wp-post-image"
											alt="{{vendor.user_profile.profile_title}}"
											height="125"
											width="125"
										/>
										{% else %}
										<img
											src="{% static 'extra-images/profile-picture-3.png' %}"
											class="attachment-full size-full wp-post-image"
											alt="{{vendor.user_profile.profile_title}}"
											height="125"
											width="125"
										/>
										{% endif %}
									</a>
								</figure>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Top Restarurants Section End -->
	<!-- Choose From Most Popular Listin Start -->
	<div
		class="page-section nopadding cs-nomargin"
		style="
			margin-top: 0px;
			padding-top: 60px;
			padding-bottom: 50px;
			margin-bottom: 0px;
			background: #ffffff;
		"
	>
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb-4">
					<div class="element-title align-center">
						<h2>Choose From Most Popular Restaurants</h2>
						{% comment %} <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> {% endcomment %}
					</div>
				</div>
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="listing fancy">
						<ul class="row" style="list-style: none">
							{% for vendor in vendors %}
							<li class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div style="display: flex; align-items: center">
									<div class="img-holder" style="width: 95px">
										<figure>
											<a href="{% url 'vendor_detail' vendor.vendor_slug %}">
												{% if vendor.user_profile.url %}
												<img
													src="{{vendor.user_profile.profile_picture.url}}"
													class="attachment-full size-full wp-post-image"
													alt="{{vendor.user_profile.profile_title}}"
													height="80"
													width="100"
													style="object-fit: cover"
												/>
												{% else %}
												<img
													src="{% static 'extra-images/profile-picture-3.png' %}"
													class="attachment-full size-full wp-post-image"
													alt="{{vendor.user_profile.profile_title}}"
													height="80"
													width="100"
													style="object-fit: cover"
												/>
												{% endif %}
											</a>
										</figure>

										{% if vendor.is_open  %}
										<span class="restaurant-status open">
											<em class="bookmarkRibbon"></em>Open
										</span>
										{% else %}
										<span class="restaurant-status close">
											<em class="bookmarkRibbon"></em>Close
										</span>
										{% endif %}

									</div>
									<div class="text-holder">
										<div class="post-title">
											<h5>
												<a href="{% url 'vendor_detail' vendor.vendor_slug %}">{{vendor}}</a>
											</h5>
										</div>
										
										<address>
											<span class=" text-color">
												{% if vendor.user_profile.address %}
												{{vendor.user_profile.address}},
												{% endif %}

												{% if not vendor.user_profile.address and vendor.user_profile.city %}
												{{vendor.user_profile.city}},
												{% endif %}

												{% if not vendor.user_profile.address and vendor.user_profile.state %}
												{{vendor.user_profile.state}},
												{% endif %}

												{% if not vendor.user_profile.address and vendor.user_profile.country %}
												{{vendor.user_profile.country}}
												{% endif %}

												{% if vendor.user_profile.pin_code %}
												{{vendor.user_profile.pin_code}}
												{% endif %}
											
											</span>
											
											{% if vendor.kms %}
												<br>
												<span>
													<small>
														<b>{{vendor.kms}} km</b>
														away
													</small>
												</span>
											{% endif %}
										</address>
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Choose From Most Popular Listing End -->

	<!-- Home Pages Elements End  -->
</div>
<!-- Main Section End -->
{% endblock content %}
